/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background)
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

.fo:not(.locked):not(.bought) {
	background: rgb(0, 0, 255);
	animation: formula 5s linear infinite;
}
.i:not(.locked):not(.bought) {
	background: rgb(0, 0, 255);
	animation: boost 10s linear infinite;
}

.star:not(.locked):not(.bought) {
	background: rgb(255, 255, 0);
	animation: star 2s linear infinite;
}

@keyframes formula {
	0% {
		background: rgb(0, 0, 255);
	}
	50% {
		background: rgb(0, 0, 175);
	}
	100% {
		background: rgb(0, 0, 255);
	}
}

@keyframes boost {
	0% {
		background:
			rgb(255, 0, 0);
	}
	16.6666666667% {
		background: rgb(255, 165, 0);
	}
	33.3333333333% {
		background: rgb(255, 255, 0);
	}
	50% {
		background: rgb(0, 255, 0);
	}
	66.6666666667% {
		background: rgb(0, 0, 255);
	}
	83.3333333333% {
		background: rgb(157, 0, 255);
	}
	100% {
		background: rgb(255, 0, 0);
	}
}

@keyframes star {
    0% {
	    background: rgb(255, 255, 0);
    }
    50% {
	    background: rgb(185, 185, 0);
    }
    100% {
	    background: rgb(255, 255, 0);
    }
}
